/* styles in src/style directory are applied to the whole page */
body {
    font-size: 16px;
}

a {
    color: #03A9F4;
}

nav {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    .navbar-link {
        padding: 0 10px;
        font-size: 1em;
    }
}

main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
}

footer {
    text-align: center;
    font-size: 0.8em;
}